
.header  {

    width: 100%;
    height: 3rem;
    text-align: center;
    z-index: 2;
    border-bottom: solid ;
    font-size: 1rem;
    position: fixed;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 20px 15px rgba(20, 14, 5, 0.5);
    padding-bottom: none;
    margin-bottom: 3rem;
    }
    /*---------------nav------------------------*/
    .divlogo{
        display: inline;
    }
    
    .banerselección1{
        display: inline;
    }
    
    .banerselección2{
        display: inline;
    }
    
    .logo {
        font-family: 'Rampart One', cursive;
        font-size: 27px;
        padding-right: 20px;
        padding-left: 0px;
        color: rgb(212, 205, 205);
        font-size: 1rem;
        display: inline;
    }
    
    .logo b{
        color:rgb(255, 255, 255);
        font-size: 1.5rem;
    }
    
    .menu{
        display: none;
    }
    
    .maderanav{
        width: 100%;
        position: fixed;
        z-index: 1;
        height:3rem;
        
    
    }
    .miBack{
        width: 100%;
        height: 100%;
    }
    .maderabackground{
        position: fixed;
        z-index: -10;
        opacity: 0.7;
        background-repeat: repeat-x;
        color: black;
        
    }
    
    .selección, .noselección{
        display: inline;
        text-align: center;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        height: 3rem;
        border-bottom: none;
        
    
    }
    
    
    
    .selección{
        background-color: rgba(4, 4, 8, 0.2);
        border:solid;
        border-color: black;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: white;
        z-index: 0;
        opacity: 0.8;
        background-color: none;
        height: 3rem;
    }
    
    
    .selección-text{
        text-decoration: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.25rem;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        color: black;
        
    
    }
    
    
    .noselección-text{
    
    color: white;
    text-decoration: none;    
    }
    
    .noselección:hover a{
        text-decoration: 10px;
        color: teal;
    
    }












    
@media screen and (max-width: 415px){


    .divlogo{
        display: block;
        margin-bottom: 1rem;
        margin-bottom: 0.6rem;
    }
    .logo{
        margin-left: 20px;
        padding-right: 0px;

    }

    .menu{

        display: inline;
        float: right;
        color: white;
        padding-right: 2rem;
        padding-top: 0.67rem;

    }

    

    .maderanav{
        height: 7rem;
    }

    .header{
        height: 7rem;
    }

    .maderabackground{
        height: 100%;
        position: fixed;
        background-repeat: repeat-x;

    }

    .banerselección1{
        display: block;
        padding-top: 0rem;

    }
    
    .banerselección2{
        display: block;
        padding: 0rem;
        padding-top: 0rem;
    }

    .container-fluit{
        margin-top: 8rem;
    }

    .selección-text, .noselección-text{
        font-size: 13px;
        padding-top: 0.25rem;
    }
    .selección-text{
        font-size: 15px;
    }


    .selección, .noselección{
        padding-top: 0.25rem;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }

}









@media screen and (min-width: 500px) and ( max-width: 1000px){

    .divlogo{
        display: inline;
        margin-bottom: 0.6rem;
    }
    .logo {
        padding-right: 0.2rem;
    }
    .maderanav{
        height: 3rem;
    }
    .header{
        height: 3rem;
    }

    .maderabackground{
        height: 100%;
        position: fixed;
        background-repeat: repeat-x;

    }

    .banerselección1{
        display: inline;
        padding-top: 0rem;

    }
    
    .banerselección2{
        display: inline;
        padding: 0rem;
        padding-top: 0rem;
    }



    .selección-text, .noselección-text{
        font-size: 9px;
        padding-top: 0.25rem;
        
    }
    .selección-text{
        font-size: 10px;
    }


    .selección, .noselección{
        padding-top: 0.25rem;
        padding-left: 0.20rem;
        padding-right: 0.20rem;
    }

    .noselección:hover{
        padding-top: 0.25rem;
    }
}