/* css general para todos los carruceles y */


.itemSeccion 
{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(3, 0, 0, 0.37);
    border-radius: 10px;
    border: 1px solid white;
    margin: 1rem;
    margin-top: 5rem;
    padding: 2rem;
}
.itemSeccion
.title
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.all{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}

                            .containerFigure
                            {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                gap: 0.5rem;
                            }

                            .containerFigure
                            .btnImg
                            {
                                font-size: 4rem;
                                background: rgba(255, 255, 255, 0.4);
                                height: 100%;
                                width: auto;
                            }

                            .containerFigure
                            .btnImg:hover{
                                background: rgba(255, 255, 255, 0.8);
                                cursor: pointer;
                            }
                            
                            

figure 
{
    width: 20rem;
    height: 20rem;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid black;
}
figure
img{
    height: 100%;
    width: 100%;
}

.text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 2rem;

    background: rgba(3, 0, 0, 0.685);
    border-radius: 10px;
    border: 1px solid white;

    width: 318px;
    height: 318px;

}
.text h4{
    color: white;
}
.text text{
    
    height: 5rem;
    color: white;
}
.btnComprar{
    display: flex;
    justify-content: center;
    align-items: center;
    background: darkblue;
    border: 1px solid white;
    border-radius: 10px;
    color: wheat;
    width: 10rem;
}
.btnComprar:hover{
    color: chocolate;
}


.carrucel{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    overflow-x: scroll;
    align-items: center;
    left:5%;
    margin-top: 2rem;

    width: 90%;
    height: 7rem;
}
.carrucel::-webkit-scrollbar {display: none;}


.imagenes{
    width: 5rem;
    height: 5rem;
    border-radius: 10px;
    border: 1px solid black;
    transition: 0.5s;
}

.imagenes:hover{
    transform: translateY(-10px);
}

