.row
{
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.all{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}

figure 
{
    width: 20rem;
    height: 20rem;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid black;
}
figure
img{
    height: 100%;
    width: 100%;
}

.text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 2rem;
}
.text text{
    width: 30rem;
    height: 5rem;
}
.btnComprar{
    display: flex;
    justify-content: center;
    align-items: center;
    background: darkblue;
    border: 1px solid white;
    border-radius: 10px;
    color: wheat;
    width: 10rem;
}
.btnComprar:hover{
    color: chocolate;
}


.carrucel{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    overflow-x: scroll;
    align-items: center;
   

    width: 95%;
    height: 7rem;

}


.imagenes{
    width: 5rem;
    height: 5rem;
    border-radius: 10px;
    border: 1px solid black;
    transition: 0.5s;
}

.imagenes:hover{
    transform: translateY(-10px);
}